@media only screen and (max-width : 1750px) {
     .content__title {
          font-size: 3.2143rem;
          line-height: 65px;
     }
}
@media only screen and (max-width : 1560px) {
     .content__title {
          font-size: 2.5rem;
          line-height: 55px;
     }
     .footer__text {
          line-height: 22px;
          max-width: 19vw;
     }
     .content__button {
          font-size: .8571rem;
          line-height: 18px;
     }
}
@media only screen and (max-width : 1300px) {
     .content__title {
          font-size: 1.7857rem;
          line-height: 45px;
     }
     .footer__text {
          line-height: 18px;
          max-width: 26vw;
     }
     .content__button {
          font-size: .7143rem;
          line-height: 16px;
     }
     .content__button img {
          margin-left: 12px;
     }
     .more__text {
          font-size: 1.2rem;
          line-height: 33px;
     }
     .sidenav {
          font-size: .7857rem;
          height: 62.12vh;     
     }
     .underheader__blocks:nth-child(5) .phone {
          font-size: 1.1429rem;
          line-height: 22px;
     }
     .underheader__blocks:nth-child(5) .days {
          font-size: .8571rem;
     }
     .popup{
          width: 470px;
          height: 570px;
          margin-top: -275px; 
          margin-left: -225px;
          padding: 35px 37px 35px 47px;
     }
     .popup-text{
          font-size: 10px;
     }
     .popup__close{
          margin: 0px 0px 0px 10px;
     }
}
@media only screen and (max-width : 1120px) {
     .footer__text {
          font-size: .7143rem;
          line-height: 14px;
          max-width: 30vw;
     }
     .sidenav {
          display: flex;
          text-align: center;
          align-items: center;
          width: 11.96vw;
          height: 59.12vh;
     }
     .content-footer {
          margin-top: 22px;
     }
}
@media only screen and (max-width : 950px) {
     .header__btns {
          font-size: .7143rem;
          line-height: 100%;
     }
     .underheader {
          font-size: .7143rem;
     }
     .underheader__blocks a {
          line-height: 12px;
     }
     .underheader__text-bold {
          margin-top: 12px;
     }
     .underheader__blocks:nth-child(1) {
          max-width: auto;
          width: auto;
          margin-right: 10px;
     }
     .underheader .link-circle {
          height: 2.5714rem;
          width: 2.5714rem;
          font-size: .7143rem;
          line-height: 10px;
     }
     .underheader .online__text {
          font-size: .7143rem;
          line-height: 11px;
     }
     .underheader__blocks:nth-child(5) .days {
          font-size: .7143rem;
     }
     .underheader__blocks:nth-child(5) .phone {
          font-size: 1rem;
          line-height: 17px;
     }
     .sidenav {
          width: 11.96vw;
          height: 54vh;
     }
     .sidenav__item {
          font-size: .5714rem;
     }
     .content__title {
          font-size: 1.4286rem;
          line-height: 35px;
     }
     .more__text {
          font-size: 1rem;
          line-height: 26px;
     }
     .content .content-btns {
          margin-top: 20px;
     }
     .content__button {
          font-size: .5714rem;
          line-height: 12px;
     }
     .content__button img {
          margin-left: 8px;
     }
     .footer__text {
          font-size: .7143rem;
          line-height: 13px;
          max-width: 34vw;
     }
     .popup{
          width: 400px;
          height: 500px;
          margin-top: -250px; 
          margin-left: -200px;
          padding: 35px 37px 35px 33px;
     }
     .popup-text{
          font-size: 10px;
     }
     .popup__close{
          margin: 0px 0px 0px 10px;
     }
     .popup__body {
          width: 300px;
     }
     .popup__title {
          font-size: 25px;
          line-height: 27px;
     }
     .popup__subtitle {
          font-size: 13px;
     }
     .popup__btn {
          width: 300px;
          height: 50px;
          font-size: 14px;
     }
     .popup__input input{
          font-size: 14px;
     }
     ::placeholder{
          font-size: 14px;
     }
     .popup__error{
          font-size: 14px;
          margin-top: 15px;
     }
}
@media only screen and (min-width : 768px) {
     .mobile{
          display: none;
     }
}

@media only screen and (max-width : 768px) {
     /* *{
          outline: 1px solid red;
     } */
     .container {
          display: none;
     }
     *{
          overflow:hidden;
          overflow-y:hidden;
          overflow-x:hidden;
     }
     body{
          display: flex;
          background-image: url("https://raw.githubusercontent.com/SVENmods/-DeinekaDemo/main/resource/bgmob.png");
          background-position: 0px 0px;
          background-repeat: no-repeat;
          background-size: cover;
          overflow-x: hidden;
          overflow-y: hidden;
          justify-content: center;
          align-items: center;
          overflow:hidden;
          overflow-y:hidden;
          overflow-x:hidden;
     }
     .mobile-body{
          text-align: center;
          align-items: center;
     }
     .content__title {
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 30px;
     }
     .content-btns {
          margin-top: 45px;
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 12px;
     }
     .content__button {
          display: flex;
          width: 276px;
          height: 60px;
          font-weight: 600;
          font-size: 10px;
          line-height: 16px;
     }
     .content__button img{
          margin-left: 2.21vw;
          transition: all 0.2s ease-out;
     }
     .content__button:nth-child(1){
          background: #12C868;
          margin-right: 0px;
     }
     .content__button:nth-child(1):hover{
          background: #21E27C;
          box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
     }
     .content__button:nth-child(1):hover img{
          margin-left: 23px;
     }
     .content__button:nth-child(2){
          background: #F38120;
          margin-top: 12px;
     }
     .content__button:nth-child(2):hover{
          background: #FD9C49;
          box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
     }
     .content__button:nth-child(2):hover img{
          margin-left: 23px;
     }
     .more{
          justify-content: center;
          align-items: center;
     }
     .more__text {
          font-weight: 400;
          font-size: 13px;
          line-height: 16px;
          margin-left: 16px;
     }
     .dots {
          display: flex;
          flex-direction: row;
          align-items: center;
     }
     .dots__item {
          display: flex;
          width: 5.88px;
          height: 5.88px;
          border: 1px solid #12C868;
          border-radius: 50%;
          margin-right: 7.05px;
     }
     .dots__item:nth-child(2){
          border: 1.5px solid rgba(18, 200, 104, 0.75);
     }
     .dots__item:nth-child(3){
          border: 1.5px solid rgba(18, 200, 104, 0.5);
     }
     .dots__item:nth-child(4){
          border: 1.5px solid rgba(18, 200, 104, 0.25);
     }
     .content-footer {
          display: flex;
          flex-direction: column;
          margin-top: 19px;
          align-items: center;
     }
     .footer__icon{
          display: flex;
     }
     .footer__text {
          font-size: 8px;
          line-height: 12px;
          text-align: center;
          letter-spacing: 0.02em;
          justify-content: center;
          margin-left: 0px;
          margin-top: 6px;
     }
     .footer__text span{
          font-weight: 600;
     }
     .sidenav__item {
          width: 9.6429rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.110);
          padding-bottom: 10px;
          cursor: default;
          font-size: 10px;
          line-height: 17px;
     }
     .sidenav__text-bold{
          display: flex;
          font-weight: 700;
     }
}

@media only screen and (max-width : 340px) {
     #menuToggle {
          top: 29px;
          right: 30px;
     }
     
     #menuToggle input {
          width: 40px;
          height: 32px;
     }
     
     #menuToggle .stripe {
          width: 33px;
          height: 4px;
     }
}
