@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
* {
  font-family: "Montserrat";
}

body {
  display: flex;
  background-image: url("https://raw.githubusercontent.com/SVENmods/-DeinekaDemo/4feda2665e8705a655fff985e71c271ae2bd2ad0/resource/BG.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  align-items: center;
  justify-content: center;
  background-position: unset;
  overflow-x: hidden;
}

.container {
  width: 88.82vw;
  height: 91.94vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
  flex-direction: column;
}

.underheader, .header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header {
  padding-bottom: 3.95vh;
  border-bottom: 1px solid RGBA(28, 28, 28, 0.07);
  align-items: center;
}
.header__btns {
  display: inline-block;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-bottom: 2px;
}
.header__btns:after {
  display: block;
  content: "";
  border-bottom: solid 3px #F38120;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.header__btns:hover:after {
  transform: scaleX(1);
}

.underheader {
  font-size: 12px;
  text-align: center;
}
.underheader__blocks {
  display: flex;
  align-items: center;
  text-align: center;
}
.underheader__blocks a {
  display: flex;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.04em;
  padding-bottom: 2px;
  border-bottom: 2px dotted #12C868;
}
.underheader__blocks:nth-child(1) {
  flex-direction: column;
  max-width: 10.9vw;
  cursor: default;
}
.underheader__blocks:nth-child(2) {
  flex-direction: row;
}
.underheader__blocks:nth-child(2) a {
  display: flex;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #000;
  margin-left: 17.15px;
}
.underheader__blocks:nth-child(3) {
  height: 148px;
  width: 274px;
  background-image: url("https://github.com/SVENmods/-DeinekaDemo/blob/4feda2665e8705a655fff985e71c271ae2bd2ad0/resource/logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.underheader__blocks:nth-child(3) img {
  display: flex;
  margin-bottom: 43px;
}
.underheader__text-bold {
  display: flex;
  font-weight: 600;
  margin-top: 28px;
  cursor: default;
}
.underheader__blocks:nth-child(4) {
  justify-content: center;
  flex-direction: column;
}
.underheader__blocks:nth-child(5) {
  flex-direction: column;
  justify-content: center;
}
.underheader__blocks:nth-child(5) a {
  color: #12C868;
  cursor: pointer;
}

.days {
  display: flex;
  align-items: center;
  margin-bottom: 6px;
  cursor: default;
}
.days .days__text {
  font-weight: 700;
  margin-right: 3px;
}

.online__dot {
  background-color: #fff;
}

.phone {
  display: flex;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.05em;
  cursor: default;
}

.link-scope {
  display: flex;
  margin-top: 1.72vh;
}

.link-circle {
  display: flex;
  height: 43.85px;
  width: 43.85px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.pdf-circle {
  color: #12C868;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
}

.viber {
  background: #976FCC;
}

.viber:hover {
  background: #aa8cd2;
}

.whatsup {
  background: #12C868;
  margin: 0vw 0.75vw 0vw 0.75vw;
}

.whatsup:hover {
  background: #3ae088;
}

.telegram {
  background: #05A0EB;
}

.telegram:hover {
  background: #50b8ec;
}

.online {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
}

.online__dot {
  display: flex;
}

.online__text {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 0.02em;
}
.online__text span:nth-child(2) {
  font-weight: 600;
  margin-left: 3px;
}

.online__dot {
  display: flex;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #12C868;
  margin-right: 4px;
}

.main {
  display: flex;
  flex-direction: row;
}

.sidenav {
  display: flex;
  text-align: center;
  align-items: center;
  width: 11.96vw;
  height: 65.12vh;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-evenly;
  background: #FFFFFF;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
  -webkit-clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 3%, 100% 100%, 0% 100%);
  border-radius: 20px;
}
.sidenav__item {
  width: 7.92vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.11);
  padding-bottom: 10px;
  cursor: default;
}
.sidenav__item .sidenav__text-bold {
  display: flex;
  font-weight: 700;
}
.sidenav__item span {
  display: flex;
}
.sidenav__item:last-child {
  box-shadow: none;
}

.content {
  display: flex;
  flex-direction: column;
  margin-left: 71px;
  cursor: default;
}
.content__title {
  max-width: 35.1vw;
  font-size: 55px;
  line-height: 85px;
}
.content__title .content__bold {
  font-weight: 600;
}
.content .content-btns {
  margin-top: 45px;
  display: flex;
  flex-direction: row;
}
.content__button {
  display: flex;
  height: 10.39vh;
  width: 19.94vw;
  border-radius: 500px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.content__button img {
  margin-left: 2.21vw;
  transition: all 0.2s ease-out;
}
.content__button:nth-child(1) {
  background: #12C868;
  margin-right: 18px;
}
.content__button:nth-child(1):hover {
  background: #21E27C;
  box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
}
.content__button:nth-child(1):hover img {
  margin-left: 23px;
}
.content__button:nth-child(2) {
  background: #F38120;
}
.content__button:nth-child(2):hover {
  background: #FD9C49;
  box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
}
.content__button:nth-child(2):hover img {
  margin-left: 23px;
}

.more {
  display: flex;
}
.more__text {
  font-weight: 400;
  font-size: 2.2857rem;
  line-height: 39px;
  margin-left: 16px;
}

.dots {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.dots__item {
  display: flex;
  width: 9.21px;
  height: 9.21px;
  border: 1.5px solid #12C868;
  border-radius: 50%;
  margin-right: 7.05px;
}
.dots__item:nth-child(2) {
  border: 1.5px solid rgba(18, 200, 104, 0.75);
}
.dots__item:nth-child(3) {
  border: 1.5px solid rgba(18, 200, 104, 0.5);
}
.dots__item:nth-child(4) {
  border: 1.5px solid rgba(18, 200, 104, 0.25);
}

.content-footer {
  display: flex;
  flex-direction: row;
  margin-top: 38px;
}

.footer__text {
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 12.97vw;
  margin-left: 16px;
}
.footer__text span {
  font-weight: 600;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.popup {
  display: none;
  position: fixed;
  z-index: 3;
  top: 50%;
  left: 50%;
  margin-top: -325px;
  margin-left: -275px;
  overflow: auto;
  width: 550px;
  height: 650px;
  border-radius: 35px;
  flex-direction: column;
  margin-right: 50px;
  padding: 45px 47px 45px 97px;
  background-image: url("https://raw.githubusercontent.com/SVENmods/-DeinekaDemo/main/resource/bgpop.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.popup .popup-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  opacity: 0.75;
}
.popup__wrapper {
  display: flex;
  flex-direction: row;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 1.5s;
  animation-name: animatetop;
  animation-duration: 1.5s;
}
.popup__close {
  display: flex;
  width: 20px;
  height: 20.41px;
  background-image: url("https://raw.githubusercontent.com/SVENmods/-DeinekaDemo/920b4178222b21bbb26b340eaf797dedd797be07/resource/close.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: pointer;
  margin: 0px 0px 0px 30px;
}
.popup__body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
  width: 356px;
}
.popup__title {
  display: flex;
  font-weight: 500;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0.02em;
  justify-content: center;
  margin-top: 5px;
}
.popup__subtitle {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 14px;
}
.popup__days {
  display: flex;
  margin-top: 24px;
  justify-content: center;
}
.popup__input {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
  text-align: left;
}
.popup__input label {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-left: 35px;
}
.popup__input input {
  background: #FFFFFF;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  margin-top: 12px;
  padding: 24px 70px 24px 46px;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #A7A7A7;
}
.popup__input ::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #A7A7A7;
}
.popup__input :-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #A7A7A7;
}
.popup__input ::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #A7A7A7;
}
.popup__btn {
  display: flex;
  width: 356px;
  height: 85px;
  border-radius: 500px;
  box-shadow: inset 0px 0px 17px rgba(255, 255, 255, 0.25);
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.popup .btn-hover {
  background: #F38120;
  margin-top: 24px;
}
.popup__arrow {
  margin-left: 20px;
  transition: all 0.2s ease-out;
}
.popup .btn-hover:hover {
  background: #FD9C49;
  box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
}
.btn-hover:hover .popup__arrow {
  margin-left: 30px;
}
.popup__check {
  display: flex;
  margin-top: 19px;
  align-items: center;
  text-align: left;
}
.popup__check .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  width: 18px;
  height: 17.65px;
}
.popup__check .custom-checkbox + label {
  align-items: center;
  display: inline-flex;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
  width: 107%;
}
.popup__check .policy {
  color: #F38120;
  font-weight: 500;
  font-size: 12px;
  line-height: 21px;
}
.popup__check .custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 17.65px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 5%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.popup__check .custom-checkbox:not(:disabled):not(:checked) + label:hover::before {
  border-color: #F38120;
}
.popup__check .custom-checkbox:not(:disabled):active + label::before {
  background-color: #F38120;
  border-color: #F38120;
}
.popup__check .custom-checkbox:focus + label::before {
  box-shadow: 0 0 0 0.2rem rgba(243, 131, 32, 0.5294117647);
}
.popup__check .custom-checkbox:focus:not(:checked) + label::before {
  border-color: rgba(243, 131, 32, 0.5294117647);
}
.popup__check .custom-checkbox:checked + label::before {
  border-color: #F38120;
  background-color: #F38120;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.popup__error {
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  text-align: center;
  color: red;
  margin-top: 25px;
}
.popup__conf {
  display: none;
  justify-content: center;
  flex-direction: column;
}

.mobile {
  display: flex;
  justify-content: center;
}
.mobile__container {
  display: flex;
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
}
.mobile a {
  font-family: "Montserrat";
  font-style: normal;
  color: #1C1C1C;
  transition: color 0.3s ease;
}
.mobile a:hover {
  color: #f38120;
}
.mobile #menuToggle {
  display: block;
  position: absolute;
  top: 29px;
  right: 1.5714rem;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
.mobile #menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}
.mobile #menuToggle .stripe {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.mobile #menuToggle .stripe:first-child {
  transform-origin: 0% 0%;
}
.mobile #menuToggle .stripe:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.mobile #menuToggle input:checked ~ .stripe {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}
.mobile #menuToggle input:checked ~ .stripe:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.mobile #menuToggle input:checked ~ .stripe:nth-last-child(2) {
  opacity: 1;
  transform: rotate(-45deg) translate(0, -1px);
}
.mobile #menu {
  position: absolute;
  width: calc(100vw + 150px);
  height: 310vh;
  margin: -100px 0 0 0;
  padding-top: 125px;
  right: -100px;
  background: #EDF2F5;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  align-items: center;
  text-align: center;
}
.mobile #menu li {
  padding: 10px 0px 10px 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.mobile #menuToggle input:checked ~ ul {
  transform: scale(1, 1);
  opacity: 1;
}
.mobile .mobheader__block:nth-child(1) {
  background-image: url("https://raw.githubusercontent.com/SVENmods/-DeinekaDemo/920b4178222b21bbb26b340eaf797dedd797be07/resource/logo.svg");
  background-size: cover;
  background-repeat: no-repeat;
}
.mobile .optin-block {
  display: none;
  position: fixed;
  top: 40vh;
  left: calc((100vw - 225px) / 2);
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 367px;
  background-image: url("https://raw.githubusercontent.com/SVENmods/-DeinekaDemo/920b4178222b21bbb26b340eaf797dedd797be07/resource/Mobform.svg");
  flex-direction: column;
  padding: 0px 39px 0px 30px;
}
.mobile .option-block-cut {
  position: fixed;
  top: 78.5vh;
  left: calc((100vw - 225px) / 2);
  align-items: center;
  justify-content: center;
  width: 225px;
  height: 367px;
  background-image: url("https://raw.githubusercontent.com/SVENmods/-DeinekaDemo/920b4178222b21bbb26b340eaf797dedd797be07/resource/Mobform.svg");
  flex-direction: column;
  padding: 0px 39px 0px 30px;
}
.mobile .pulse-btn {
  display: flex;
  position: relative;
  top: 26px;
  left: 145px;
  width: 33px;
  height: 33px;
  z-index: 3;
  background: #F38120;
  box-shadow: inset 0px 0px 22px rgba(255, 255, 255, 0.25);
  -webkit-animation: radial-pulse 2s infinite;
          animation: radial-pulse 2s infinite;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@-webkit-keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px #ffab62;
  }
  100% {
    box-shadow: 0 0 0 10px rgba(207, 241, 207, 0);
  }
}
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px #ffab62;
  }
  100% {
    box-shadow: 0 0 0 10px rgba(207, 241, 207, 0);
  }
}
.mobile .mob-nav-footer {
  position: relative;
  width: 220px;
  left: calc((100vw - 70px) / 2);
  margin-top: 32px;
}
.mobile .add-text {
  font-size: 8px;
  line-height: 14px;
}
.mobile .add-text-bold {
  font-weight: 600;
}
.mobile .pdf-block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.mobile .pdf-block a {
  display: flex;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  padding-bottom: 2px;
  border-bottom: 2px dotted #12C868;
  margin-left: 17.15px;
}
.mobile .link-scope {
  display: flex;
  margin-top: 1.72vh;
  align-items: center;
  justify-content: center;
}
.mobile .whatsup {
  background: #12C868;
  margin: 0px 14.15px 0px 14.15px;
}
.mobile .online {
  align-items: center;
  justify-content: center;
}
.mobile .online__text {
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
}
.mobile .online__text span:nth-child(2) {
  font-weight: 600;
  margin-left: 3px;
}
.mobile .mobile__top {
  display: flex;
  flex-direction: row;
  height: 64px;
  width: 276px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: calc((100vw - 276px) / 2);
}
.mobile .mobile__top .mob-logo {
  width: 75px;
  height: 52px;
  background-image: url("https://raw.githubusercontent.com/SVENmods/-DeinekaDemo/920b4178222b21bbb26b340eaf797dedd797be07/resource/logomob.svg");
  background-position: -30px 0px;
  background-repeat: no-repeat;
  background-size: 200% 200%;
}
.mobile .mobile__top .top-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mobile .mobile__top .top-info .days {
  margin-top: 10px;
  margin-bottom: 6px;
  font-size: 7px;
}
.mobile .mobile__top .top-info .days .days__text {
  font-weight: 700;
  margin-right: 3px;
}
.mobile .mobile__top .top-info .online__dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #12C868;
  margin-right: 4px;
}
.mobile .mobile__top .top-info .phone {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-top: 4px;
}
.mobile .mobile__top .top-info a {
  display: flex;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;
  padding-bottom: 2px;
  border-bottom: 2px dotted #12C868;
  color: #12C868;
  width: 90px;
  margin-top: 4px;
  cursor: pointer;
}
.mobile .open-me {
  font-weight: 400;
  font-size: 6px;
  line-height: 8px;
  color: #B5B5B5;
  margin-top: 7px;
}
.mobile .sidenav__item {
  width: 11.2143rem;
  margin-top: 8px;
}
